/* You can not modify anything in the HTML */
/* You can only modify the CSS file */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* Navbar Css */
.navbar{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5%;
}
.navbar div:first-child{
    width: 15%;
}
.navbar div:nth-child(2){
    width: 5%;
}
.navbar div.grow-list{
    width: 70%;
}
.navbar div:last-child{
    width: 10%;
}

.navbar .grow-list ul{
    display: flex;
    list-style-type: none;
    gap:50px;
    font-size: 20px;
}
 
.navbar .button-small{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: darkmagenta;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500px;
}

/* Hero Section Css */
.hero{
    text-align: center;
    padding: 200px 20%;
    background-color: rgb(226, 203, 203);
    color: white;
    background-image: url(./assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover
}
.hero h1{
    font-size: 90px;
    padding-bottom: 20px;
}
.hero p{
    font-size: 30px;
    padding-bottom: 50px;
}
.hero button{
    padding:  20px;
    border: none;
    border-radius: 10px;
    background-color: darkmagenta;
    color: #ffffff;
    font-size: 26px;
    font-weight: 500px;

}