body{
    font-family: sans-serif;
    background-color: #c2dbf2;
    padding: 100px 4%;
}
@media only screen and (max-width: 1500px) {
    body{
        padding: 60px 7%;
    }
}

h1{
    text-align: center;
    margin-bottom: 50px;
}
@media only screen and (max-width: 601px){
    h1{
        font-size: 16px;
    }
}
.main_container{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 50px;
}
@media only screen and (max-width: 600px) {
    .main_container{
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
    }   
}
@media only screen and (min-width: 601px)  and (max-width: 991px) {
    .main_container{
        grid-template-columns: repeat(3,1fr);
        gap: 30px;
    }   
}
@media only screen and (min-width: 992px)  and (max-width: 1200px) {
    .main_container{
        grid-template-columns: repeat(4,1fr);
        gap: 30px;
    }   
}
@media only screen and (min-width: 1201px)  and (max-width: 1650px) {
    .main_container{
        grid-template-columns: repeat(5,1fr);
        gap: 30px;
    }   
}
.main_container .container{
   
    text-align: center;
}
.btn{
    width: 200px;
    height: 250px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    transition: all .4s ease-in-out;
}
@media only screen and (max-width: 600px) {
    .btn{
        width: 120px;
        height: 150px;
    }
}
@media only screen and (min-width: 601px)  and (max-width: 991px) {
    .btn{
        width: 130px;
        height: 170px;
    }
}
@media only screen and (min-width: 992px)  and (max-width: 1500px) {
    .btn{
        width: 150px;
        height: 200px;
    }
}

.btn:hover{
    transform: scale(1.1);
}
.container .text{
    text-align: center;
    width: 50%;
    margin: auto;
    border-radius: 50px;
    visibility: hidden;
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
} 
@media only screen and (max-width: 991px) {
    .container .text{
        width: 80%;
        margin-top: 0px;
    }
}
