*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    background-color: #f6f8fa;  
}

Header{
    padding: 20px 10% 300px;
    background-image: url(./Photos/mainBackground.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
} 
Header .menu_section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(210, 210, 210);
    padding: 20px;
    margin-bottom: 150px;

}
Header .menu_section div ul{
    display: flex;
    list-style-type: none; 
    color: white;
}
Header .menu_section div ul li{
    padding: 20px;
}
Header .hero_section{
    width: 50%;
}
Header .hero_section h1{
    color: white;
    font-size: 70px;
    margin-bottom: 40px;
}
Header .hero_section p{
    color: rgb(210, 210, 210);
    width: 55%;
    line-height: 1.5;
    margin-bottom: 30px;
}
Header .hero_section button{
    background-color: #6663e9;
    border: none;
    color: white;
    padding: 20px 35px;
    border-radius: 30px;
    font-size: 20px;
}
.logo_section{
    margin: 0px 50px;
    border-radius: 50px;
    padding: 80px 10%;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -150px; 
    background-color: white;
}

/* Cards Section */
.cards{
    padding: 0px 10%;
}
.cards h1{
    font-size: 48px;
    text-align: center;
    margin-bottom: 100px;
}
.cards .grid_row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.cards .grid_row .grid_item.up-60{
    position: relative;
    bottom: 80px;
}
.cards .grid_row .grid_item.up-30{
    position: relative;
    bottom: 40px;
}
.cards .grid_row .grid_item img{
    height: 500px;
    width: 450px;
    border-radius: 30px;
}
.cards .grid_row .grid_item .grid_item_desc{
    background-color: white;
    width: 85%;
    margin: auto;
    text-align: center;
    padding: 30px;
    border-radius: 30px;
    position: relative;
    top: -50px;
    display: flex;
    justify-content: space-between;
}
.cards .grid_row .grid_item .grid_item_desc h4{
    font-size: 22px;
    margin-bottom: 10px;
}
.cards .grid_row .grid_item .grid_item_desc p{
    color: #6663e9;
    font-size: 18px;
    font-weight: bold;
}
.cards .grid_row .grid_item .grid_item_desc button{
    background-color: #6663e9;
    color: white;
    font-size: 18px;
    border-radius: 40px;
    border: none;
    padding: 15px 35px;
}

/* Feature Section*/
.feature_section{
    padding-right: 15%;
    display: flex;
    gap: 150px;
    margin: 100px 0px;
}
.feature_section .feature_section_left{
    position: relative;
}
.feature_section .feature_section_left .outer_box{
    width: 720px;
    height: 500px;
    background-color: #6663e9;
    border-radius: 0px 50px 50px 0px;
}
.feature_section .feature_section_left .inner_box{
    width: 400px;
    height: 380px;
    background-color:white;
    border-radius: 50px;
    position: absolute;
    top: 0;
    left: 190px;
   
}
.feature_section .feature_section_left img{
    height: 500px;
    width: 500px;
    border-radius: 50px;
    position: absolute;
    top: -150px;
    left: 220px;
}

.feature_section .feature_section_right h1{
    font-size: 54px;
    margin-bottom: 40px;
}
.feature_section .feature_section_right p{
    font-size: 18px;
    line-height: 36px;
    margin-bottom: 40px;
}
.feature_section .feature_section_right button{
    background-color: #6663e9;
    color: white;
    font-size: 18px;
    border-radius: 40px;
    border: none;
    padding: 20px 40px;
}


/* Feature Section Reverse */
.feature{
    padding-left: 15%;
    display: flex;
    gap: 150px;
    margin: 200px 0px;
}

.feature .feature_left h1{
    font-size: 54px;
    margin-bottom: 40px;
}
.feature .feature_left p{
    font-size: 18px;
    line-height: 36px;
    margin-bottom: 40px;
}
.feature .feature_left button{
    background-color: #6663e9;
    color: white;
    font-size: 18px;
    border-radius: 40px;
    border: none;
    padding: 20px 40px;
}


.feature .feature_right{
    position: relative;
}
.feature .feature_right .outer_box{
    width: 720px;
    height: 500px;
    background-color: #6663e9;
    border-radius: 50px 0px 0px 50px;
}
.feature .feature_right .inner_box{
    width: 400px;
    height: 380px;
    background-color:white;
    border-radius: 50px;
    position: absolute;
    top: 0;
    right: 190px;
   
}
.feature .feature_right img{
    height: 500px;
    width: 500px;
    border-radius: 50px;
    position: absolute;
    top: -150px;
    right: 220px;
}

